body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1,
h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input,
textarea,
button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Arredonda as bordas suavemente */
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
